*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
  width: 120px;
  height: 120px;
  cursor: pointer;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}
.comp-box, .user-box{
    width: 500px;
    padding: 3rem;
    z-index: 2;
    background-color: rgb(0, 135, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    position: relative;
 
}
.comp-score,.user-score{
    font-size: large;
    font-weight: bolder;
}
.comp-score{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -4px;
    z-index: 12;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.comp-box{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.user-box{
    border-bottom-left-radius: 50px;
    background-color: rgb(0, 248, 12);
    border-bottom-right-radius: 50px;
}

.user-score{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: -4px;
    z-index: 12;
    
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.hasil{
    border: 3px solid rgb(255, 145, 0);
    padding: 15px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 600;
    z-index: 22;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-top: 200px;

}


@media screen and (max-width: 576px){
    img{
        width: 80px;
        height: 80px;
    }
    .hasil{
        margin-top: 160px;
    }
    .comp-box, .user-box{
        width: 100%;
    }
}